<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Index</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css.css">
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">



</head>
<body ng-app="eCommerce">



  <div class="bar">
    <li class="none bord font">
    FOURTHDIMENSION
    </li>
      <li ng-if="userName" class="none bord">
      Welcome {{userName}}!
      </li>

      <li ng-if="!userName" class="right bord">
        <a class="aclass" ui-sref='signup'>Create Account</a>
      </li>
      <li ng-if="userName" class="right bord">
        <a ng-click="logout()" class="aclass" ui-sref='mainpicpage'>Logout</a>
      </li>
      <li ng-if="userName" class="right bord">
        <a class="aclass" ui-sref='shoppingCart'>Shopping Cart</a>
      </li>
      <li ng-if="!userName" class="right bord">
        <a class="aclass" ui-sref='login'>Login</a>
      </li>
      <li class="right bord">
        <a class="aclass" ui-sref="frontpage">Home</a>
      </li>
  </div>
  <ui-view></ui-view>






  <script src='angular.min.js'></script>
  <script src="angular-ui-router.js"></script>
  <script src="jquery-3.1.1.js"></script>
  <script src="eCommerce.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src='angular-cookies.min.js'type="text/javascript"></script>
  <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>


</body>
</html>
