<div class="backgrCheckout">

<div class="sign2">

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="black" ng-repeat="item in shoppingCartData">
      <th scope="row">{{$index + 1}}</th>
      <td>{{item.prodname}}</td>
      <td>{{item.prodprice | currency}} </td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="delete(item.id)">Delete</button>
      </td>
    </tr>


  </tbody>
  <tr>

</table>
<td>
  Total: {{sum | currency}}
</td>
</tr>
<br>
<br>
<button style="color: black;" ng-click="checkout()" type="button" name="button">Checkout</button>
<br>
<h3 style="color: yellow" ng-show="emptyCart">Your Cart is Empty<h3>
</div>
</div>
