<div class="backgrdetails">

<div class="sign3">

<h2 style="margin-top: 100px;">{{prodInfo.name}}</h2>
<br>
<br>

<br>
<div class="">
<img class="picSizex" ng-src="pics/{{prodInfo.image_path}}" alt="" />
</div>
<br>
<div class=" width">
  <p style="margin-top: 30px">{{prodInfo.description}}<p>
    <h4>{{prodInfo.price | currency}}</h4>
    <button style="color: black" ng-click='detailAddCart()' type="button" name="button">Add to Cart</button>
    <h3 style="color: yellow;" ng-show="added">Added to Cart</h3>
    <h3 style="color: yellow;" ng-show="notAdded">Please Login First</h3>
</div>
<br>
<br>
<br>



</div>
</div>
